name: Deploy on GitHub Pages

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
          cache: npm
      - name: Install project
        run: |
          npm ci
          npm run generate
          npm test
      - name: Deploy
        run: |
          git checkout .
          git checkout gh-pages
          find . -maxdepth 1 ! -name 'public' ! -name '.git' ! -name '.' -exec rm -rf {} +
          mv public/* ./
          rm -rf public
          git add .
          if [[ -n "$(git diff --cached --shortstat)" ]]; then
            git config user.name 'github-actions'
            git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git commit -m "deploy Github Pages"
            git push origin gh-pages
          fi
