name: Release and Upload distributions

on:
  pull_request:
    branches:
      - main
    types:
      - closed

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write

jobs:
  release:
    # PullRequest に release ラベルが付与されている場合のみ実行
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
          cache: npm
      - name: Install project
        run: |
          npm ci
          npm run generate
          npm test
      - name: Set date
        id: variables
        run: |
          TODAY=$(date '+%Y-%m-%d')
          echo "today=${TODAY}" >> $GITHUB_OUTPUT
      - name: Upload ZIP files
        run: |
          if gh release view "${TAG_NAME}" > /dev/null 2>&1; then
            gh release view "${TAG_NAME}" --json assets -q '.assets[].name' | while read asset; do
              if [ -n "$asset" ]; then
                gh release delete-asset "${TAG_NAME}" "$asset" -y
              fi
            done
            gh release upload "${TAG_NAME}" dist/*.zip --clobber
          else
            gh release create "${TAG_NAME}" dist/*.zip --title "Release (${TAG_NAME})"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ steps.variables.outputs.today }}
